[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
lxml = "*"
aiohttp = "*"
gunicorn = "*"
django-heroku = "*"
pymongo = {extras = ["srv"], version = "*"}
dnspython = "*"
requests = "*"
tor = "*"
stem = "*"
fake-useragent = "*"
aiohttp-socks = "*"

[dev-packages]

[requires]
python_version = "3.8"
